<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Softphone by João</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>

<body>
    <div class="container">
        <div class="card">
            <hr>
            <div class="card-header">
                <center>
                    <h1> Softphone </h1>
                </center>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><input class="form-control" name="display" type="text"></th>
                        </tr>
                    </thead>
                </table>
                <table class="table">
                    <tbody>
                        <tr>
                            <th><button name="btn1" class="btn btn-info btn-lg btn-block">1</button></th>
                            <td><button name="btn2" class="btn btn-info btn-lg btn-block">2</button></td>
                            <td><button name="btn3" class="btn btn-info btn-lg btn-block">3</button></td>
                        </tr>
                        <tr>
                            <th><button name="btn4" class="btn btn-info btn-lg btn-block">4</button></th>
                            <td><button name="btn5" class="btn btn-info btn-lg btn-block">5</button></td>
                            <td><button name="btn6" class="btn btn-info btn-lg btn-block">6</button></td>
                        </tr>
                        <tr>
                            <th><button name="btn7" class="btn btn-info btn-lg btn-block">7</button></th>
                            <td><button name="btn8" class="btn btn-info btn-lg btn-block">8</button></td>
                            <td><button name="btn9" class="btn btn-info btn-lg btn-block">9</button></td>
                        </tr>
                        <tr>
                            <th><button name="btnAsterisco" class="btn btn-info btn-lg btn-block">*</button></th>
                            <td><button name="btn0" class="btn btn-info btn-lg btn-block">0</button></td>
                            <td><button name="btnCerc" class="btn btn-info btn-lg btn-block">#</button></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"><button class="btn btn-success btn-lg btn-block">Discar</button></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <hr>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>

<script src="/js/bootstrap.min.js"></script>

<script>
    function showNum1() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "1"
    }

    document
        .querySelector("button[name=btn1]")
        .addEventListener("click", showNum1);

    // ------------------------------------------------------

    function showNum2() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "2"
    }

    document
        .querySelector("button[name=btn2]")
        .addEventListener("click", showNum2);

    // ------------------------------------------------------

    function showNum3() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "3"
    }

    document
        .querySelector("button[name=btn3]")
        .addEventListener("click", showNum3);

    // ------------------------------------------------------

    function showNum4() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "4"
    }

    document
        .querySelector("button[name=btn4]")
        .addEventListener("click", showNum4);

    // ------------------------------------------------------

    function showNum5() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "5"
    }

    document
        .querySelector("button[name=btn5]")
        .addEventListener("click", showNum5);

    // ------------------------------------------------------

    function showNum6() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "6"
    }

    document
        .querySelector("button[name=btn6]")
        .addEventListener("click", showNum6);

    // ------------------------------------------------------

    function showNum7() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "7"
    }

    document
        .querySelector("button[name=btn7]")
        .addEventListener("click", showNum7);

    // ------------------------------------------------------

    function showNum8() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "8"
    }

    document
        .querySelector("button[name=btn8]")
        .addEventListener("click", showNum8);

    // ------------------------------------------------------

    function showNum9() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "9"
    }

    document
        .querySelector("button[name=btn9]")
        .addEventListener("click", showNum9);

    // ------------------------------------------------------

    function showNumAsterisco() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "*"
    }

    document
        .querySelector("button[name=btnAsterisco]")
        .addEventListener("click", showNumAsterisco);

    // ------------------------------------------------------

    function showNum0() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "0"
    }

    document
        .querySelector("button[name=btn0]")
        .addEventListener("click", showNum0);

    // ------------------------------------------------------

    function showNumCerc() {
        var displayValue = document.querySelector("input[name=display]").value;
        document.querySelector("input[name=display]").value = displayValue + "#"
    }

    document
        .querySelector("button[name=btnCerc]")
        .addEventListener("click", showNumCerc);
</script>

</html>